.DS_Store
*.code-workspace
*.db
*.tgz
*.tar.zst
.empirica
tajriba.json
internal/vendored/transport
yarn-error.log
node_modules
go.work
go.work.sum

playwright-results
playwright-report
test-results
e2e-tests/test-experiment-*
e2e-tests/cache